:root {
  --branco-principal: #ffffff;
  --cinza-segundario: #ffffff;
  --botao-vermelho: #ff5151;
  --cor-de-fundo: #d8d8d8;
  --fonte-principal: 'Andika';
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
}

* {
  margin: 0;
  padding: 0;
}

.main {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav li {
  list-style: none;
}

.nav a {
  text-decoration: none;
  font-family: var(--fonte-principal);
  font-size: 20px;
  font-weight: 700;
  color: var(--branco-principal);
}

.nav_list {
  display: flex;
  gap: 2em;
  align-items: center;
  margin: 0 2em;
}

.section-formulario {
    background-color: aqua;
}

.section-formulario h1 {
    margin: auto;
    font-size: 2em;
    margin: 1em;
} 

.formulario {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1em;
    margin: auto;
}

.formulario-campos {
    border: solid 2px #ff5151;
    border-radius: 6px;
    height: 30px;
    width: 80%;
    margin: auto;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.principal {
  background-image: url('imagens/background.png');
  background-repeat: no-repeat;
  background-size:100%;
  align-items: center;
  text-align: center;
  overflow: auto;
}

.container__caixa {
  margin: 0 6em;
}

.container__titulo {
  font-family: var(--fonte-principal);
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.container__imagem {
  margin: 2em 0 3em 0;
}

.container__botao {
  background-color: var(--botao-vermelho);
  border-radius: 5px;
  padding: 1em;
  color: var(--branco-principal);
  display: block;
  text-decoration: none;
  margin-bottom: 1em;
}

.botao__secundario {
  background-color: transparent;
  border: 2px solid var(--branco-principal);
}

.secundario__imagem {
  width: 80%;
}

.secundario {
  align-items: center;
  margin: 0 10em;
  font-size: 20px;
  font-family: var(--fonte-principal);
  font-weight: 500;
}

.descricao__titulo {
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 0.1em;
  color: var(--branco-principal);
}

.descricao__texto {
  color: var(--cinza-segundario);
  text-align: justify;
}

.secundario__botao {
  display: inline-block;
  margin: 1em 0;
}

.container__descricao {
  padding: 0.5em;
}

.imagem2 {
  margin: 0 10em;
}

.dispositivos {
  color: black;
  text-align: center;
}

.dispositivos__titulo {
  font-size: 50px;
}

.dispositivos__lista {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 5em 0;
}

.lista__item {
  font-size: 32px;
  color: var(--botao-vermelho);
}

.rodape {
  text-align: center;
}

.rodade__logo {
  width: 15%;
  margin: 5em 0;
}

.rodape__lista {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 7em;
}

.lista__link a {
  text-decoration: none;
  font-size: 20px;
}

.rodape__texto {
  font-size: 1em;
  font-family: var(--fonte-principal);
  margin: 2em 5em;
  color: #ff5151;
}
